<div class="container">
    <!-- <ul>
        <li *ngFor="let user of users">{{user.id}} - {{user.userName}}</li>
    </ul> -->
    <div class="bd-example">
        <table class="table table-primary table-striped">
            <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">USER NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">MOBILE NUMBER</th>
            <th scope="col">DOCUMENTS</th>
            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobileNumber}}</td>
            <td></td>
            <!-- <td><button class="btn btn-primary">upload</button></td> -->
          </tr>
          
        </tbody>
      
        </table>
      </div>
</div>



